[Unit]
Description=Mongodb backup

[Service]
Type=oneshot
{{ s3-secret }}
ExecStart=/usr/local/bin/mongo-backup/backup-to-digitalocean-bucket.sh
WorkingDirectory=/usr/local/bin/mongo-backup/

[Install]
WantedBy=multi-user.target
