[Unit]
Description=Mongodb backup to digitalocean spaces

[Service]
Type=oneshot
{{ s3_secret }}
ExecStart=/usr/local/bin/mongo-backup/backup-to-digitalocean-bucket.sh
WorkingDirectory=/usr/local/bin/mongo-backup/

[Install]
WantedBy=multi-user.target
