[Unit]
Description=Mongodb backup

[Service]
Type=oneshot
LoadCredentialEncrypted=do_access_key:/etc/secrets/do_access_key.cred
ExecStart=/usr/local/bin/mongo-backup/backup-to-digitalocean-bucket.py
WorkingDirectory=/usr/local/bin/mongo-backup/
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
